{% extends 'pages/base.html' %}
{% block content %}
<main>
    <!-- Hero Start-->
    <div class="slider-area slider-bg ">
       <div class="single-slider d-flex align-items-center slider-height2 ">
           <div class="container">
               <div class="row">
                   <div class="col-xl-12">
                       <div class="hero-cap text-center pt-50">
                           <h2>{{proyecto.nombre}}</h2>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- Slider Shape -->
       <div class="slider-shape d-none d-lg-block">
           <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
           <img class="slider-shape2" src="assets/img/hero/right-top-shape.png" alt="">
           <img class="slider-shape3" src="assets/img/hero/left-botom-shape.png" alt="">
       </div>
   </div>
   <!--Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="{{proyecto.url_imagen}}" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>{{proyecto.descripcion_corta}}
                      </h2>
                      <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i>Estatus</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i>{{proyecto.etapa}}</a></li>
                      </ul>
                      {{proyecto.contenido|safe}}
                   </div>
                </div>
                <div class="comment-form">
                   <h4>Quiero saber más</h4>
                   <form class="form-contact comment_form" action="{% url 'mensaje-proyecto' %}" method="post" id="commentForm">
                     {% csrf_token %}
                      <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="namePro" id="namePro" type="text" placeholder="Nombre del proyecto">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Nombre del interesado" required>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control valid" name="email" id="email" type="email" placeholder="Email" required>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="phone" id="phone" type="phone" placeholder="Télefono" required>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Motivo de interés" required></textarea>
                           </div>
                        </div>
                      </div>
                      <div class="form-group mt-3">
                        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="g-recaptcha ml-3" data-sitekey="6LeR09scAAAAALfegBVQ64XoZ0qL6wzVSJxj5qJS"></div>
                    </div>
                      <div class="form-group">
                         <button type="submit" class="button button-contactForm btn_1 boxed-btn">Enviar</button>
                      </div>
                   </form>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="blog_right_sidebar">
                   
                   <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Otros proyectos</h3>
                      {% for proyecto in proyectos %}
                      <div class="media post_item">
                         
                         <div class="media-body">
                            <a href="{{proyecto.get_absolute_url}}">
                               <h3>{{proyecto.nombre}}</h3>
                            </a>
                            <p>{{proyecto.etapa}}</p>
                         </div>
                      </div>
                      {% endfor %}
                   </aside>
                   <aside class="single_sidebar_widget instagram_feeds">
                      <h4 class="widget_title">Instagram Feeds</h4>
                      <ul class="instagram_row flex-wrap">
                         <li>
                            <a href="#">
                               <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                            </a>
                         </li>
                      </ul>
                   </aside>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>
{% endblock %}